@charset "UTF-8";

@media screen and (max-width:375px) {
    aside > ul {
        columns: 1;
    }
}

@media screen and (min-width:496px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        
    }
}

@media screen and (min-width: 496px) {
    a {
        padding: 7px;
}